---
import "../styles/general/interactions.css"

const { content, destinationUrl } = Astro.props;
const onclickDestination = `window.location.href='${destinationUrl}'`;
---

<button
    id="link-btn"
    type="button"
    class="prevent-select shake"
    draggable="false"
    onclick={onclickDestination}
>{content}</button>

<style>
	#link-btn {
	   cursor: pointer;
	   width: 20rem;
	   height: 3rem;
	   margin: 0.5rem;
	}

	button.shake:hover {
        animation: vertical-shaking 1.5s;
    }

    @keyframes vertical-shaking {
        0% { transform: translateY(0) }
        25% { transform: translateY(5px) }
        50% { transform: translateY(-5px) }
        75% { transform: translateY(5px) }
        100% { transform: translateY(0) }
    }

</style>
